<!-- <div>
    <label>{{ title }}</label>
    <input [type]="type" />
  </div>
   -->


   <div [formGroup]="form">
    <label>{{ title }}</label>
    <input [type]="type" [formControlName]="controlName" />
    
    <div *ngIf="form.controls[controlName].invalid && form.controls[controlName].touched">
      <small *ngIf="form.controls[controlName].hasError('required')">This field is required</small>
      <small *ngIf="form.controls[controlName].hasError('minlength')">Minimum length is {{ form.controls[controlName].getError('minlength').requiredLength }}</small>
      <small *ngIf="form.controls[controlName].hasError('maxlength')">Maximum length is {{ form.controls[controlName].getError('maxlength').requiredLength }}</small>
    </div>
  </div>
  